In [7]:
# Answer 1:
tuples = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted(tuples, key=lambda x: x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [1]:
# Answer 2:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Answer 3:
def convert_to_tuple_of_strings(list_of_integers):
    return tuple(map(lambda x: str(x), list_of_integers))

list_of_integers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple_of_strings = convert_to_tuple_of_strings(list_of_integers)
print(tuple_of_strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [3]:
# Answer 4:
from functools import reduce
def compute_product(numbers):
    return reduce(lambda x, y: x*y, numbers)
numbers = [x for x in range(1, 26)]
product = compute_product(numbers)
print(product)

15511210043330985984000000

In [5]:
# Answer 5:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x % 2 == 0 and x % 3 == 0, l))

[6, 60, 90, 120]

In [6]:
# Answer 6:
strings = ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: x == x[::-1], strings))

['php', 'aba', 'radar', 'level']